
    header {
    font-weight: bolder;
    display:inline-block;
    margin: 20px; 
}
h1{

    font-family:Times;
    text-align: center; 
    padding:30px
}

h2{
    font-family:Times;
    text-align:left;
    padding:20px
}
